/* Banner principal */
.elemento-principal{
    font-size: 16px;
    min-height: 40.62em;
    color:#FFF;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url('../img/backdrop.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}
.elemento-principal .contenedor{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.elemento-principal .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.elemento-principal img.logo{
    max-width: 40%;
}

.elemento-principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

/* Botones */
.elemento-principal .boton{
    background: rgba(51, 51, 51, 0.76);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.elemento-principal .boton i{
    margin-right: 1.25em;
}
.elemento-principal .boton.btn-play{
    background: rgba(255, 255, 255, 0.76);
    color: #000;
}
.elemento-principal .boton.btn-play:hover{
    background: rgba(228, 228, 228, 0.60);
    color: #000;
}
.elemento-principal .boton.btn-info:hover{
    background: rgba(83, 83, 83, 0.8);
    color: #FFF;
}

/* Medias queries */

@media screen and (max-width: 600px){
    .elemento-principal{
        font-size: 14px;
    }
    .elemento-principal .descripcion{
        max-width: 100%;
    }
    .elemento-principal .boton{
        padding: 0.83em 1.7em;
        font-size: .9em;
    }
}