.carousel-recomendadas {
    margin-bottom: 70px;
}
.carousel-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}

/*  titulos y controles */

.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color:#FFF;
    font-size: 30px;
}
.contenedor-titulo-controles .indicadores button{
    background:#FFF;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button.active,
.contenedor-titulo-controles .indicadores button:hover
{
    background:rgb(255, 0, 0);
}

/*  Carroucel */

.carousel-recomendadas .contenedor-principal .arrow{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #FFF;
    cursor: pointer;
    z-index: 2;
    transition: .2s ease all;
}

.carousel-recomendadas .contenedor-principal .arrow-left{left: 0;}
.carousel-recomendadas .contenedor-principal .arrow-right{right: 0;}

.carousel-recomendadas .contenedor-principal .arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}

.carousel-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.carousel-recomendadas .contenedor-carousel .carousel .video {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.carousel-recomendadas .contenedor-carousel .carousel .video.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.carousel-recomendadas .contenedor-carousel .carousel .video img {
	width: 100%;
	vertical-align: top;
}



@media screen and (max-width: 800px) {

	.carousel-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.carousel-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.carousel-recomendadas .indicadores,
	.carousel-recomendadas .arrow {
		display: none;
	}
}