.footer{
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    /* background-color: #011c39; */
}

.footer >*{
    flex: 1 100%;
    color: #fff;
}

.footer-left{
    margin-right: 1.25rem;
    margin-bottom: 2rem;
}
p.footer-description{
    font-size: .8em;
    padding-bottom: 10px;
}

.footer-left p{
    padding-right: 20%;
    color: #999;
}
.footer-left img{
    width: 50%;
}
.footer-left h2{
    width: 50%;
}

h3{
    font-weight: 600;
    font-size: 1rem;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer-right{
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.socials a{
    /* background: #364a62; */
    background: #E50914;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}


@media screen and (min-width: 600px){
    .footer-right > *{
        flex:1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex:2 0px;
    }
}