/* Header navbar*/
header{
    padding: 15px 0;
    /*position: fixed;
    width: 100%;
    background: #141414;
    margin-bottom: 60px;*/
}

.contenedor{
    width: 90%;
    margin: auto;
}

header .contenedor{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    margin-right: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo,
footer .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a{
    color:#AAA;
    text-decoration: none;
    margin-right: 20px;
}
header .header-nav-user{
    font-size: 1rem;
}
header nav a:hover,
header nav a.active{
    color:#FFF;
}

header img.heade-img-profile{
    height: 30px;
    width: 30px;
    border-radius: 10%;
}
.nav-profile img{
    margin-right: 10px;
}
.nav-profile{
    display: flex;
    align-items: center;
}

.header-nav-principal-web{
    display: block;
}

.header-nav-principal-mobile{
    display: none;
}

/* Medias queries */

@media (max-width: 800px){
    .header-nav-principal-mobile{
        margin: 0;
        padding: 0;
        display: flex;
    }
    .header-nav-principal-web{
        display: none;
    }
}

@media (max-width: 480px){
    header .logotipo {
        font-size: 20px;
    }
    .header-nav-principal-mobile{
        font-size: 12px;
    }
    header .header-nav-user{
        font-size: .8rem;
    }
}