@import url("header.css");
@import url("banner.css");
@import url('carousel.css');
@import url('footer.css');
:root{
    --rojo:#E50914;
    --fondo:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

